.bg-black
    background: #171717

.bg-gray
    background: #f1f1f1

.bgww
    background: #FFF

.bgwwbox
    background: #FFF
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2)

.bg-yellow
    background: $yellow

.bg-purple
    background: $purple

.bg-purplelt
    background: $purplelt

.bgoff
    background: #f7f7f7

.bggrey
    background: $grey

.nobg
    background: none

.purple
    color: $purple

.yellow
    color: $yellow

.black
    color: #000

.white
    color: white