.video-banner
    height: 92.5vh
    .textual
        padding: calc( (92.5vh - 337px)/2 ) 15px
        color: #FFF
    #video-viewport
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        overflow: hidden
        z-index: -1
    video
        display: block
        width: 100%
        height: auto
    .fullsize-video-bg
        height: 100%
        overflow: hidden
    .fullsize-video-bg:before
        content: ""
        background: rgba(0,0,0,.35)
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 0
    .fullsize-video-bg .container
        text-align: center

#banner-slider
    .swiper-container
        .slide-container
            padding: 20vh 0
            min-height: calc(100vh - 61px)
            @include bgdef
            &:after
                content: ''
                height: 40%
                width: 100%
                position: absolute
                left: 0
                bottom: 0
                background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8))
        .swiper-pagination-bullet
            background: $red
            border: none
            opacity: 1
        .swiper-pagination-bullet-active
            opacity: 1
            background: $yellow
        .swiper-wrapper
            .blog.slide-container
                padding: 30vh 0 20vh
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next, .swiper-button-next, .swiper-container-rtl .swiper-button-prev
        color: $yellow !important
        outline: none !important
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next
        left: 25px !important
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev
        right: 25px !important
    .initial-slide
        .slide-container
            background-color: #999
            background-position: center
            background-size: contain
    .swiper-container
        width: 100vw
        height: calc(100vh - 81px)
        margin-left: auto
        margin-right: auto
        .swiper-slide
            min-width: 0
        .swiper-pagination-bullets
            right: 25px
    .slider-card
        .card
            background: #FFF
            box-shadow: 0 4px 4px rgba(0,0,0,0.25)
            padding: 40px 35px
        .title
            margin: 0 0 30px
        .mini
            margin: 0

.follower
    .imager
        .bgww
            background: rgba(255,255,255,0.7)
            border-radius: 10px

.partners 
    .partner 
        .img
            content: ''
            background: rgba(253, 205, 10, 0.2)
            height: 125px
            background-repeat: no-repeat
            background-position: center
            background-size: 100px
        .img.vertical
            background-size: 70px


.footer
    padding-top: 30px
    padding-bottom: 30px
    background: $yellow
    .media-links
        text-align: right
    .icons 
        text-align: right
        i
            font-size: 17px
        a
            background: #fff
            color: #00091B
            height: 40px
            width: 40px
            display: block
            float: right
            padding: 10px 0
            text-align: center
            margin: 0 0 0 15px
            border-radius: 50px
            border: 2px solid #fff
            transition: all 200ms ease
            text-decoration: none
            position: relative
            &:hover, &:active
                color: $red
                border-color: $red
                background: none
                cursor: pointer !important
                transform: scale(1.2)
                -webkit-transform: scale(1.2)
                text-decoration: none