.topbanner
    background: hsla(191, 75%, 60%, 1)
    background: linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%)
    background: -moz-linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%)
    background: -webkit-linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%)
    .logo
        width: 150px

.video-banner
    height: 75vh
    .textual
        padding: calc( (75vh - 271px)/2 ) 15px
        color: #FFF
    #video-viewport
        background-image: url('./img/poster.jpg')
        @include bgdef
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        overflow: hidden
        z-index: -1
    video
        display: block
        width: 100%
        height: auto
    .fullsize-video-bg
        height: 100%
        overflow: hidden
    .fullsize-video-bg:before
        content: ""
        background: rgba(0,0,0,0.5)
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 0
    .fullsize-video-bg .container
        text-align: center

#banner-slider
    .swiper-container
        .slide-container
            padding: 20vh 0
            min-height: calc(100vh - 61px)
            @include bgdef
            &:after
                content: ''
                height: 40%
                width: 100%
                position: absolute
                left: 0
                bottom: 0
                background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8))
        .swiper-pagination-bullet
            background: $yellow
            border: none
            opacity: 1
        .swiper-pagination-bullet-active
            opacity: 1
            background: $purple
        .swiper-wrapper
            .blog.slide-container
                padding: 30vh 0 20vh
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next, .swiper-button-next, .swiper-container-rtl .swiper-button-prev
        color: $purple !important
        outline: none !important
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next
        left: 25px !important
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev
        right: 25px !important
    .initial-slide
        .slide-container
            background-color: #999
            background-position: center
            background-size: contain
    .swiper-container
        width: 100vw
        height: calc(100vh - 81px)
        margin-left: auto
        margin-right: auto
        .swiper-slide
            min-width: 0
        .swiper-pagination-bullets
            right: 25px
    .slider-card
        .card
            border: 1px solid #fff
            z-index: 10
            border-radius: 15px
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2)
            overflow: hidden
            padding: 30px
            &::before
                background-color: rgba(255, 255, 255, 0.3)
                backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%)
                content: ''
                height: 100%
                position: absolute
                width: 100%
                top: 0
                left: 0
        .mini
            margin: 0

.follower
    .imager
        .bgww
            background: rgba(255,255,255,0.7)
            border-radius: 10px

.partners 
    .partner 
        position: relative
        &::after
            content: ''
            z-index: 1
            position: absolute
            height: 180px
            width: 180px
            top: calc( 50% - 90px )
            left: calc( 50% - 90px )
            animation: spin 4s linear infinite
            border-radius: 50%
            box-shadow: inset 0 0 50px #fff, inset 20px 0 60px $yellow, inset -20px 0 60px #3B09C9, inset 20px 0 300px $yellow, inset -20px 0 300px #3B09C9, 0 0 50px #fff, -10px 0 60px $yellow, 10px 0 60px #3B09C9
        .img
            content: ''
            height: 270px
            background-repeat: no-repeat
            background-position: center
            background-size: 220px
            z-index: 3
        .img.vertical
            background-size: 70px
        .img.with-popup
            cursor: pointer
            transition: all 0.1s linear
            &:hover
                transform: scale(1.1)
                &::after
                    height: 260px
                    width: 260px
                    top: calc( 50% - 130px )
                    left: calc( 50% - 130px )

@keyframes spin
    0% 
        transform: rotate(0deg)
    100% 
        transform: rotate(360deg)


.laureus
    .imager
        .imgcontainer
            cursor: pointer
            position: relative
            background-image: url('./img/laureus-banner.png')
            @include bgdef
            border-radius: 4px
            &::before
                content: ''
                @include bgdef
                width: 55px
                height: 55px
                background-image: url('./img/playbut.svg')
                position: absolute
                top: calc(50% - 27.5px)
                left: calc(50% - 27.5px)
                z-index: 10
                transition: 0.2s all linear
            &:hover
                &::before
                    width: 75px
                    height: 75px
                    top: calc(50% - 37.5px)
                    left: calc(50% - 37.5px)
        .imgcontainer.active
            &::before
                display: none

.supporters 
    .supporter 
        .img
            content: ''
            background-color: rgba(20, 80, 202, 0.1)
            height: 125px
            background-repeat: no-repeat
            background-position: center
            background-size: 100px
            transition: all 0.1s linear
            &:hover
                background-color: rgba(20, 80, 202, 0.2)
                background-size: 110px
        .img.vertical
            background-size: 70px
            &:hover
                background-size: 80px

.modal-open 
    .modal 
        padding-right: 0 !important

.modal
    padding-top: 100px
    padding-bottom: 50px
    padding-left: 0!important

.modal-backdrop
    background-color: $purple

.modal-backdrop.in
    opacity: 1

.modal-content
    padding: 90px 15% 75px
    border-radius: 0
    border: none
    background: #FFF
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2)
    box-shadow: 0 0 20px rgba(0,0,0,.2)
    button.close
        position: absolute
        right: 30px
        top: 30px
        opacity: 1
        border-radius: 55%
        height: 29px
        width: 29px
        outline: none!important
        z-index: 3
        background: 0 0 !important
    .image-cont
        width: 50%
        margin: -50% 0 0 25%
    .textual
        text-align: center

.fade-scale
    opacity: 0
    -webkit-transition: all .75s ease-in-out
    transition: all .75s ease-in-out

.fade-scale.in
    opacity: 1

.footer
    padding-top: 30px
    padding-bottom: 30px
    background: #222
    color: #FFF
    .media-links
        text-align: right
    .icons 
        text-align: right
        i
            font-size: 17px
            width: 18px
        a
            background: #fff
            color: #00091B
            padding: 10px 12px
            text-align: center
            margin: 0 0 0 15px
            border-radius: 50px
            border: 2px solid #fff
            transition: all 200ms ease
            text-decoration: none
            position: relative
            &:hover, &:active
                color: $yellow
                border-color: $yellow
                background: none
                cursor: pointer !important
                transform: scale(1.2)
                -webkit-transform: scale(1.2)
                text-decoration: none

.video-js 
    width: 100%
    .vjs-big-play-button
        top: 45% !important
        left: 42% !important